[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/VladimirNalivaiko
[access "refs/for/refs/*"]
	read = group user/VladimirNalivaiko
	push = group user/VladimirNalivaiko
	label-Code-Review = -2..+2 group user/VladimirNalivaiko
	label-Verified = -1..+1 group user/VladimirNalivaiko
	rebase = group user/VladimirNalivaiko
	removeReviewer = group user/VladimirNalivaiko
	submit = group user/VladimirNalivaiko
[access "refs/heads/*"]
	read = group user/VladimirNalivaiko
	create = group user/VladimirNalivaiko
	push = +force group user/VladimirNalivaiko
	pushMerge = group user/VladimirNalivaiko
[access "refs/tags/*"]
	push = +force group user/VladimirNalivaiko
	pushTag = group user/VladimirNalivaiko
	pushSignedTag = group user/VladimirNalivaiko
